.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/liz_website/images/honeyTeaaaWebBgPng.png") top 50% left 50% / cover repeat fixed;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 150px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  margin-bottom: 10px;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__o5Kd {
  background: var(--token-z5IKgHokHwfh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 10px;
}
.freeBox__o5Kd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__o5Kd > :global(.__wab_flex-container) > *,
.freeBox__o5Kd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5Kd > :global(.__wab_flex-container) > picture > img,
.freeBox__o5Kd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__t3Ol3 {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.freeBox___5Rcvt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0px;
}
.freeBox__oMesz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___6LfmO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.chunkyButton__dQlJm:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-top: calc(15px + 10px) !important;
  margin-right: 16px;
}
.freeBox__mj6ON {
  background: var(--token-z5IKgHokHwfh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 10px 50px;
}
.freeBox__mj6ON > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__mj6ON > :global(.__wab_flex-container) > *,
.freeBox__mj6ON > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mj6ON > :global(.__wab_flex-container) > picture > img,
.freeBox__mj6ON
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__rQvu5 {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.columns___1A6E0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___1A6E0 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1A6E0 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1A6E0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1A6E0 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ltgqP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 4px;
}
.column__ltgqP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Rcg2FFYcZLzr));
  height: calc(100% + var(--token-Rcg2FFYcZLzr));
}
.column__ltgqP > :global(.__wab_flex-container) > *,
.column__ltgqP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ltgqP > :global(.__wab_flex-container) > picture > img,
.column__ltgqP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Rcg2FFYcZLzr);
}
.freeBox__aWVow {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___60Bng {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
  padding-right: 0px;
}
.text__nnnP3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.freeBox__ubm5Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  min-width: 0;
  padding: 8px;
}
.img__rmooP {
  object-fit: cover;
  max-width: 50%;
}
.img__rmooP > picture > img {
  object-fit: cover;
}
.img___1KwDz {
  object-fit: cover;
  max-width: 50%;
  margin-top: 2px;
}
.img___1KwDz > picture > img {
  object-fit: cover;
}
.freeBox__kmZ2Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vhUa {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
  padding-right: 0px;
}
.text__re9T8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.img__qFMqn {
  object-fit: cover;
  max-width: 90%;
  margin-top: 2px;
}
.img__qFMqn > picture > img {
  object-fit: cover;
}
.freeBox___82UV9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__yb2Zw {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
  padding-right: 0px;
}
.text__bzUzn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__cgex0 {
  object-fit: cover;
  max-width: 100%;
}
.img__cgex0 > picture > img {
  object-fit: cover;
}
.freeBox__bwmR1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__as82P {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.text__ky5MX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__wyB0P {
  object-fit: cover;
  max-width: 100%;
}
.img__wyB0P > picture > img {
  object-fit: cover;
}
.column__ol5Xy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 4px;
}
.column__ol5Xy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Rcg2FFYcZLzr));
  height: calc(100% + var(--token-Rcg2FFYcZLzr));
}
.column__ol5Xy > :global(.__wab_flex-container) > *,
.column__ol5Xy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ol5Xy > :global(.__wab_flex-container) > picture > img,
.column__ol5Xy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Rcg2FFYcZLzr);
}
.freeBox__qOgkA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__tdMi0 {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
  padding-right: 0px;
}
.text__k37Tk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.img__mOLkp {
  object-fit: cover;
  max-width: 90%;
  margin-top: 2px;
}
.img__mOLkp > picture > img {
  object-fit: cover;
}
.freeBox__dTeSk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oKGeL {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.text__ac0R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ga3VF {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-self: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.img__ootlp {
  object-fit: fill;
  max-width: 50%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  object-position: 50% 50%;
}
.img__ootlp > picture > img {
  object-fit: fill;
  object-position: 50% 50%;
}
.freeBox___0JWjk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-width: 0;
  padding: 8px;
}
.text__zgK7 {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.text__k9F4T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___0Dbmv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___5ODhc {
  object-fit: fill;
  max-width: 50%;
}
.img___5ODhc > picture > img {
  object-fit: fill;
}
.img__jeMtm {
  object-fit: fill;
  max-width: 50%;
}
.img__jeMtm > picture > img {
  object-fit: fill;
}
.freeBox__ncWcc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__b0Bp0 {
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
  padding-right: 0px;
}
.text__c22Jo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-wm5TQEsc-4q4);
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__dVYbZ {
  object-fit: cover;
  max-width: 100%;
}
.img__dVYbZ > picture > img {
  object-fit: cover;
}
.columns__iBhkz {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  height: auto;
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-grow: 0;
  width: 110%;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__iBhkz > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__iBhkz > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
.columns__iBhkz > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iBhkz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 10px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iBhkz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2ZXhO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__hkJB {
  display: flex;
  position: relative;
  width: 50px;
  height: 98%;
  max-width: 100%;
  background: none;
  transform: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.chunkyButton__xx2Dp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__j3YYd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.sliderCarousel2:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  max-width: 100%;
}
.column___1Iq2S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___6T5ZR {
  display: flex;
  position: relative;
  width: 50px;
  height: 98%;
  max-width: 100%;
  background: none;
  transform: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.chunkyButton__xKPy:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
