.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-CjoiA0ZGRzIr);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-jSz_owAAoySy);
  font-family: var(--token-53yuAZy1TVCd);
  font-size: var(--token-1D8xxlsoaYJG);
  line-height: var(--token-ip7MblBX9ib1);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-pNScYQFW0oIP);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-0bsux5k5AK1h);
  outline-offset: 1px;
  outline-color: var(--token-CjoiA0ZGRzIr);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ETa9alNldWLR);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-PctqL8cZ91QC);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-tqkz5vjm5uMZ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-iqEs34N_IgQM);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-SV_Ncj9rapyb);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-30PIxXbVZLQ6);
  font-size: var(--token-bgUwqWhU9_j1);
  column-gap: var(--token-0bsux5k5AK1h);
  row-gap: 0px;
  border-radius: var(--token-AWG1GpDBu43_);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bgUwqWhU9_j1);
  line-height: var(--token-30PIxXbVZLQ6);
  column-gap: var(--token-AWG1GpDBu43_);
  row-gap: 0px;
  border-radius: var(--token-AWG1GpDBu43_);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-u7C7lrVC_VHm);
  line-height: var(--token-7C1Snkt0nsBR);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-u7C7lrVC_VHm);
  line-height: var(--token-7C1Snkt0nsBR);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-e4jEGo2kXXSS);
  border-radius: var(--token-pNScYQFW0oIP);
}
.softBackgroundcolor_neutral {
  background: var(--token-vYV-w5bEKXU0);
}
.softBackgroundcolor_muted {
  background: var(--token-IUM3PbBu_iit);
}
.softBackgroundcolor_success {
  background: var(--token-pXv0vz2n2FaL);
}
.softBackgroundcolor_warning {
  background: var(--token-znZylvimEZ8T);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-RX3cCqC-fq7u);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-pNScYQFW0oIP);
  border: 0px solid var(--token-3gZ_by3ERzmw);
}
.bordercolor_neutral {
  border-color: var(--token-gs_GMem42dku);
}
.bordercolor_muted {
  border-color: var(--token-vkSIIsOIui_6);
}
.bordercolor_success {
  border-color: var(--token-OSet_gbKtgc0);
}
.bordercolor_warning {
  border-color: var(--token-wPDfiSn-_Fz7);
}
.bordercolor_errorDestructive {
  border-color: var(--token-iabOF1fxHDZf);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-pNScYQFW0oIP);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Cr4xuW2FPLX5);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-1SkYd-OUq5aX);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-OgtasyvrjKzw);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__oR9Vf {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-pNScYQFW0oIP) var(--token-CrUSqyGXd6Y6);
}
.freeBox__oR9Vf > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-pNScYQFW0oIP));
  width: calc(100% + var(--token-pNScYQFW0oIP));
}
.freeBox__oR9Vf > :global(.__wab_flex-container) > *,
.freeBox__oR9Vf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oR9Vf > :global(.__wab_flex-container) > picture > img,
.freeBox__oR9Vf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-pNScYQFW0oIP);
}
.freeBoxsize_extraSmall__oR9VfD7SFo {
  padding: var(--token-AWG1GpDBu43_) var(--token-pNScYQFW0oIP);
}
.freeBoxsize_small__oR9VfmfNkq {
  padding: var(--token-pNScYQFW0oIP) var(--token-jSz_owAAoySy);
}
.freeBoxsize_large__oR9Vf0S4R {
  padding-top: var(--token-AWG1GpDBu43_);
  padding-bottom: var(--token-AWG1GpDBu43_);
}
.freeBoxsize_extraLarge__oR9VffExN1 {
  padding-left: var(--token-tBbN9DUDGATj);
  padding-right: var(--token-tBbN9DUDGATj);
}
.freeBoxroundedFull__oR9VfvHlog {
  padding-right: var(--token-tBbN9DUDGATj);
  padding-left: var(--token-tBbN9DUDGATj);
}
.freeBox__cMd2I {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__cMd2I4UhFg {
  display: flex;
}
.slotTargetStart {
  color: var(--token-aT6JyaGuLmKi);
}
.slotTargetStartcolor_neutral {
  color: var(--token-dma_ylrvuErX);
}
.slotTargetStartcolor_muted {
  color: var(--token-0LN2PLKZ0gN9);
}
.slotTargetStartcolor_success {
  color: var(--token-ZcuV2682BApL);
}
.slotTargetStartcolor_warning {
  color: var(--token-CAPAMQEzNHM5);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-OoqO1KSbN6g8);
}
.slotTargetStarttype_soft {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetStarttype_bordered {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bgUwqWhU9_j1);
}
.slotTargetStartsize_small {
  font-size: var(--token-bgUwqWhU9_j1);
}
.slotTargetStartsize_large {
  font-size: var(--token-u7C7lrVC_VHm);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-u7C7lrVC_VHm);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-j6uLGFnlNE5F);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-j6uLGFnlNE5F);
}
.svg___8NNdu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-aT6JyaGuLmKi);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-dma_ylrvuErX);
}
.slotTargetLabelcolor_muted {
  color: var(--token-0LN2PLKZ0gN9);
}
.slotTargetLabelcolor_success {
  color: var(--token-ZcuV2682BApL);
}
.slotTargetLabelcolor_warning {
  color: var(--token-CAPAMQEzNHM5);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-OoqO1KSbN6g8);
}
.slotTargetLabeltype_soft {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetLabeltype_bordered {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-j6uLGFnlNE5F);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-j6uLGFnlNE5F);
}
.text___2SfX {
  white-space: pre;
}
.freeBox___3BAav {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___3BAavBw8Ef {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-aT6JyaGuLmKi);
}
.slotTargetEndcolor_neutral {
  color: var(--token-dma_ylrvuErX);
}
.slotTargetEndcolor_muted {
  color: var(--token-0LN2PLKZ0gN9);
}
.slotTargetEndcolor_success {
  color: var(--token-ZcuV2682BApL);
}
.slotTargetEndcolor_warning {
  color: var(--token-CAPAMQEzNHM5);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-OoqO1KSbN6g8);
}
.slotTargetEndtype_soft {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetEndtype_bordered {
  color: var(--token-9PJ7nsrB28JN);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bgUwqWhU9_j1);
}
.slotTargetEndsize_small {
  font-size: var(--token-bgUwqWhU9_j1);
}
.slotTargetEndsize_large {
  font-size: var(--token-u7C7lrVC_VHm);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-u7C7lrVC_VHm);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-hSVle3RtB6m1);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-cJ6Jij6itmhd);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-dc8zxigD4VNi);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-dHlbeRcLk1eT);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-j6uLGFnlNE5F);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-j6uLGFnlNE5F);
}
.svg__rmlC0 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
