.root {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: flex-start;
}
.img {
  object-fit: cover;
  width: 45%;
  box-shadow: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 256px;
    flex-shrink: 0;
  }
}
.imgpressed {
  opacity: 0;
}
.root:hover .img {
  width: 50%;
}
