.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/liz_website/images/honeyTeaaaWebBgPng.png") top 50% left 50% / cover repeat fixed;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 150px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  margin-bottom: 10px;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__e8225 {
  background: var(--token-z5IKgHokHwfh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 10px;
}
.freeBox__e8225 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__e8225 > :global(.__wab_flex-container) > *,
.freeBox__e8225 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8225 > :global(.__wab_flex-container) > picture > img,
.freeBox__e8225
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__r0ADz {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.link__xPjpe {
  align-self: auto;
}
.link___5OBEs {
  padding-bottom: 0px;
}
.freeBox__jcisw {
  background: var(--token-z5IKgHokHwfh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 10px;
}
.freeBox__jcisw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jcisw > :global(.__wab_flex-container) > *,
.freeBox__jcisw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcisw > :global(.__wab_flex-container) > picture > img,
.freeBox__jcisw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__gFPar {
  background: var(--token-z5IKgHokHwfh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  min-width: 0;
  border-radius: 0px;
  padding: 10px 50px;
}
.freeBox__gFPar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__gFPar > :global(.__wab_flex-container) > *,
.freeBox__gFPar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gFPar > :global(.__wab_flex-container) > picture > img,
.freeBox__gFPar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__eN2BF {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-VHKbq1Ltfo9Q);
  font-family: "Roboto Mono";
  font-size: 16px;
}
.columns {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  height: auto;
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-grow: 0;
  width: 110%;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 10px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__szi4V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__lQnpv {
  display: flex;
  position: relative;
  width: 50px;
  height: 98%;
  max-width: 100%;
  background: none;
  transform: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.chunkyButton__dcPKq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__twEBb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.sliderCarousel2:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  max-width: 100%;
}
.freeBox__bP2Ws {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  width: auto;
  padding: 0px;
}
.freeBox__bP2Ws > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-Z8wdEUUw3p0h));
  width: calc(100% + var(--token-Z8wdEUUw3p0h));
}
.freeBox__bP2Ws > :global(.__wab_flex-container) > *,
.freeBox__bP2Ws > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bP2Ws > :global(.__wab_flex-container) > picture > img,
.freeBox__bP2Ws
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Z8wdEUUw3p0h);
}
.img__q7NjV {
  object-fit: cover;
  max-width: 100%;
  width: 33%;
}
.img__q7NjV > picture > img {
  object-fit: cover;
}
.img___0AsbM {
  object-fit: cover;
  max-width: 100%;
  width: 33%;
}
.img___0AsbM > picture > img {
  object-fit: cover;
}
.img__clp1P {
  object-fit: cover;
  max-width: 100%;
  width: 33%;
}
.img__clp1P > picture > img {
  object-fit: cover;
}
.freeBox__nqaul {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.img___3LiY4 {
  object-fit: cover;
  max-width: 100%;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___3LiY4 > picture > img {
  object-fit: cover;
}
.column__uJVb3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___5CwvN {
  display: flex;
  position: relative;
  width: 50px;
  height: 98%;
  max-width: 100%;
  background: none;
  transform: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.chunkyButton__vIwOm:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__zWbso {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 10px;
  background: var(--token-z5IKgHokHwfh);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 10px;
}
.link__mqF57 {
  display: flex;
}
.chunkyButton__dxe3A:global(.__wab_instance) {
  max-width: 100%;
}
